.App {
  font-family: sans-serif;
  text-align: center;
}

/* navbar */
navbar{
  color: white;
  background-color: aquamarine;
}

/* footer */
.main-footer{
    color: black;
    background-color: #dddd;
    padding-top: 3em;
    align-items: center ;
    bottom: 0;
    width: 100%;
}

